@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: black;
    color: azure;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}